.invert {
  background-color: var(--gray);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.test {
  border: 3px black;
  border-radius: 10px;
}

.rTableRow {
  display: flex;
  align-items: center;
}

.rTableRow mat-icon,
.rTableRow app-item {
  display: inline-block;
}